#lecture 7
-we have just cereated and printed out string type variable in lecture 4 and this lecture is more about strings

In [2]:
#concatenate a string with + operator
#remember + operator has another meaning when it comes to numeric variables
firstname = "kokchun"
lastname = "giang"

#concatenate without " "
fullname = firstname + lastname
fullname

'kokchungiang'

In [3]:
#concatenate also with " "
fullname2 = firstname + " " + lastname
fullname2

'kokchun giang'

In [4]:
#or like this 
space = " "
fullname2 = firstname + space + lastname
fullname2

'kokchun giang'

In [5]:
# multiline f string for concatenating for a lot of different strings 
work = "AIgineer AB" 
Adress = "Supah cool streeeeeeeeeeeeeeeeeto"

# f string with one line 
print(f"{fullname2} is working in a company called {work}. and his adress is {Adress}.")

#f strig with multiline 
print(f"""{fullname2} is working in a company called {work}.
      And his adress is {Adress}.""")

kokchun giang is working in a company called AIgineer AB. and his adress is Supah cool streeeeeeeeeeeeeeeeeto.
kokchun giang is working in a company called AIgineer AB.
      And his adress is Supah cool streeeeeeeeeeeeeeeeeto.

In [6]:
#concatenation with loop

fruits_today = "apple, " + "orange, " + "strawberry"
print(f"todays fruits: {fruits_today}")

fruits_today = ["apple", "orange", "strawberry"]
for fruit in fruits_today:
    print(fruit)

todays fruits: apple, orange, strawberry
apple
orange
strawberry

INDEXING

In [7]:
#index 
print(f"the first letter of the string is: {fullname2[-1]}") 
print(f"the first letter of hte stirng is: {fullname2[12]}")

the first letter of the string is: g
the first letter of hte stirng is: g

In [ ]:
#slicing
#we can use : operator for slicing 
print(fullname2)
print(f"The first three letters: {fullname2[0:3]}")
print(f"the first five letters: {fullname2[-5:1]}")

#slicing reversely
print(f"The last five letters: {fullname2[-1:0:-1]}")

kokchun giang
The first three letters: kok
the first five letters: giang
The last five letters: gnaig nuhcko

Some common exampels to clean strings

In [ ]:
#iterate over 2 lists at same time
#question in class 
name123 = ["adsd", "jsjsj"]
adress123 = ["ads", "jshsh"]

for name, adress in zip(name123, adress123):
    print(name123[0])
    print(adress123[1])
    print("-----")

adsd
jshsh
-----
adsd
jshsh
-----

#some common examples to clean strings 
-make use of string methods 
-a good introduction to many common sting metods

In [55]:
#splitting a string
#messy string
subjects = "math, biology  ,ChEmIsTRy, PrOGRamming     "

subject = subjects.split(",")
print(subject)
type(subject)

['math', ' biology  ', 'ChEmIsTRy', ' PrOGRamming     ']

list

In [ ]:
#strip off leading and trailing spaces 
for subject in subjects:
    print(subject.strip(""))

m
a
t
h
,

b
i
o
l
o
g
y


,
C
h
E
m
I
s
T
R
y
,

P
r
O
G
R
a
m
m
i
n
g

In [68]:
#makign uppercase letter
for sbject in subjects: 
    print(subject.strip().upper())

In [61]:
#use len() function to check the length of string
len(fullname2)

13

regular expression
-look fo a pattern
-make use of different functions in `re` package
-syntax of isong funstions form an imported package
    -re.findall()
    -imported_package.function #imported package is

In [71]:
import re

text = "Det var en gang en katt som tog pa sig en hatt"
list_letter_att = re.findall("att", text) #the first argument is the patter i ant to find, the second path is where i watn to find the pattern

list_letter_att

['att', 'att']

In [78]:
text = "Det var en gang en katt som tog pa sig en hatt"
list_letter_att = re.findall(".a", text) #the first argument is the patter i ant to find, the second path is where i watn to find the pattern

list_letter_att

['va', 'ga', 'ka', 'pa', 'ha']

In [ ]:
#patterns of numbers 
person_number = "ida: 19950516-2235, Berit: 890806-3212"
personal_number8digits  = re.findall(r"\d{8}", person_number) #d is digits, r means raw string
personal_number8digits

['19950516']

In [ ]:
#set "-" at the end 
person_number = "ida: 19950516-2235, Berit: 890806-3212"
personal_number8digits  = re.findall(r"\d{8}-", person_number) #d is digits, r means raw string
personal_number8digits

['19950516-']

In [ ]:
#set "-" and "d" at the end
person_number = "ida: 19950516-2235, Berit: 890806-3212"
personal_number8digits  = re.findall(r"\d{8}-\d{4}", person_number) #second d for 4 digits after the -
personal_number8digits

['19950516-2235']

error handling 
-add error handlig for blocks of codes that can encounter errors 
-because we dont want to crash the program
-make use of the (try except) block

In [ ]:
#without error handling, the code below will crash
print(x)

NameError: name 'x' is not defined

In [2]:
# add try except to the code above 
try: 
    #under the try block, put the potenitally problematic codes
    print(x)
except:
    #when the try blokc encounters error, run the except block instead of crashing
    print("there is an error in the try block")

there is an error in the try block

In [7]:
#make use of multiple except blocks 
try:
    print(x)
except NameError: 
    print("Variable x is not being found yet.") 
except: 
    print("Some other error happened")

Variable x is not being found yet.

In [23]:
#example taht is not name error 
try:
    print(1/0)
except NameError: 
    print("therer is a NameError")
except: 
    print("There is a an error that is not a NameError")

There is a an error that is not a NameError

In [ ]:
#make use of error message 
try: 
    print(x)
except NameError as err:
    print(err)

except: 
    print( "soemthing else")

In [ ]:
#