characteristic of lists 
-iterable 
-one of the collection data types
-used for storing several items in a variable

In [2]:
tv_shows = ["antikrundan", "masterkockarna", "aktuellt", "talang"]

#access an item

In [3]:
tv_shows[1] #second item

'masterkockarna'

In [5]:
#access the last item
last_index = len(tv_shows) - 1
#tv_shows[4] ------ will show error: list out of range because [4] is 5th item in it. 
tv_shows[last_index]
#access last item by counting form the left

'talang'

In [ ]:
#acces last item form the right
tv_shows[-4] #aka first item in list

'antikrundan'

In [7]:
#so actual last item is list[-1]
tv_shows[-1]

'talang'

iTERATE THROUGH A LIST

In [8]:
for show in tv_shows:
    print(show)

antikrundan
masterkockarna
aktuellt
talang

change calue of list item

In [10]:
#assign new valeue to list item
tv_shows[0] = "vetenskapsprogrammet"
tv_shows

['vetenskapsprogrammet', 'masterkockarna', 'aktuellt', 'talang']

append new value to list

In [ ]:
#add neew item as the last item
tv_shows.append("haha")
tv_shows
while tv_shows.count("haha") > 1: # This line to prevent list from updating with multiple "haha" items on every run
    tv_shows.remove("haha")       #-""-
#append/add something but to the first index/beginning of a list
tv_shows.insert(0, "kaka")
while tv_shows.count("kaka") > 1: #This line prevents "kaka" from being added on every run aswell
    tv_shows.remove("kaka")       #-""-  
tv_shows
#something coming out of OOP class in few weeks (class, object, method attributes etc)

['kaka',
 'vetenskapsprogrammet',
 'masterkockarna',
 'aktuellt',
 'talang',
 'haha']

In [ ]:
#access multiple items from list (its called slicing when accessing mutiple indexes in list vs indexing)
tv_shows[0:2]

['kaka', 'vetenskapsprogrammet']

sort a list

In [ ]:
tv_shows.sort() #it sorts by ascending order (alphabetical and counting up from integer) by default
tv_shows

['aktuellt',
 'haha',
 'kaka',
 'masterkockarna',
 'talang',
 'vetenskapsprogrammet']

In [ ]:
#descending order 
tv_shows.sort(reverse=True) 
tv_shows

['vetenskapsprogrammet',
 'talang',
 'masterkockarna',
 'kaka',
 'haha',
 'aktuellt']

create a list by list comprehension
-when creating a list from another iterable

In [24]:
cubes = [x**3 for x in range(1, 10)]
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [27]:
numbers = [1, 2, 3, 4]
squares = [x**2 for x in numbers]
print(squares)  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]